/**
 ** file: cls-mp-ebay.css
 ** label: MoneyPress Classic
 **
 ** The classic theme for MoneyPress : eBay Edition
 **
 **/
.csl_themes-product {
    clear: both;
    background-color: #F8EEC0;
    border: 1px solid #A48F2C;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;
}

.csl_themes-product div {
    padding: 0 0 0 5px;
}

.csl_themes-product h3 {
    margin: 0 0 10px 0;
    color: ##3D3D3D;
}

.csl_themes-left {
    float: left;
    padding: 0 5px 5px 0;
    max-width: 150px;
    max-height: 120px;
    text-align: center;
}

.csl_themes-right {
    float: left;
    text-align: left;
}

.csl_themes-cleanup {
    clear: both;
}

.csl_themes-product li {
    list-style: none;
}

.csl_themes-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
    background-color: #E7DDB9;
}

.csl_themes-product IMG {
    padding-right: 12px;
}